html, body {
  font-family: "Arial", sans-serif;
  background-color: #484848;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.card {
  padding: 15px 0;
  border-radius: 10px;
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.card .city, .card .weather, .card .degree, .card .icon {
  padding: 15px 0;
}

.card span {
  color: #f7f7f7;
  margin: 20px 0;
}

.card i {
  color: #f7f7f7;
}

.card .city {
  font-size: 25px;
}

.card .city i {
  margin-right: 5px;
}

.card #weather {
  font-size: 13px;
}

.card .degree {
  font-size: 45px;
}

.card #icon img {
  width: 50px;
}

.cities {
  padding: 15px;
  background-color: #363636;
  color: #f7f7f7;
  border-radius: 10px;
  border: none;
}

#spinner {
  visibility: hidden;
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #363636;
  /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */