@import "base";

html,
body {
  font-family: $font-stack;
  background-color: $background;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.card {
  padding: $padding;
  border-radius: 10px;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  text-align: center;

  .city,
  .weather,
  .degree,
  .icon {
    padding: $padding;
  }
  span {
    color: $light;
    margin: 20px 0;
  }
  i {
    color: $light;
  }
  .city {
    font-size: 25px;
    i {
      margin-right: 5px;
    }
  }
  #weather {
    font-size: 13px;
  }
  .degree {
    font-size: 45px;
  }
  #icon {
    img {
      width: 50px;
    }
  }
}
.cities {
  padding: 15px;
  background-color: $background-color;
  color: $light;
  border-radius: 10px;
  border: none;
}
#spinner {
  visibility: hidden;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid $background-color; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#spinner.show {
  visibility: visible;
}
